*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: sans-serif;
  margin-block: 15px;

  & h1 {
    font-size: 3rem;
  }
}

.filtros {
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;

  & div {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

select {
  padding: 5px;
  border: none;
  outline: none;
}

.estante {
  margin-top: 20px;
  & ul {
    display: grid;
    grid-template-columns: repeat(5, minmax(300px, 1fr));
    gap: 15px;
  }
}

.carrito__container {
  & .presentacion {
    position: fixed;
    z-index: 99;
    top: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    cursor: pointer;
  }

  & .carrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    background: black;
    right: -100%;
    bottom: 0;
    height: 100vh;
    width: 450px;
    z-index: 10;
  }
}

.presentacion {
}
