*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: sans-serif;
  margin-block: 15px;

  & h1 {
    font-size: 3rem;
  }
}

.filtros {
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;

  & div {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

select {
  padding: 5px;
  border: none;
  outline: none;
}

.estante {
  margin-top: 20px;
  & ul {
    display: grid;
    grid-template-columns: repeat(5, minmax(300px, 1fr));
    gap: 15px;
  }
}
.carrito__container {
  & label {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;

    &:hover {
      scale: 1.1;
    }
  }
  & .carrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    background: black;
    right: -100%;
    bottom: 0;
    height: 100vh;
    width: 450px;
    z-index: 1;
    transition: right 0.2s;
  }

  & input:checked ~ .carrito {
    right: 0;
  }
}

.remove__cart {
  border: 1px solid white;
  color: white;
  background-color: black;
  padding-block: 5px;
  padding-inline: 10px;
  cursor: pointer;
  font-size: 1.1rem;
  margin-bottom: 20px;
}
